.search {
  width: 50%;
  display: flex;
  margin: auto;
  margin-bottom: 32px;
}

.search_term {
  width: 100%;
  border: 3px solid #3a4660;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
  height: auto;
  text-align: center;
}

.search_button {
  width: 60px;
  height: 40px;
  border: 1px solid #3a4660;
  background: #3a4660;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


h2 {
  font-family: moon-bold;
  text-align: center;
}
