<div class="wrap">
  <!-- Search movie by title -->
  <h2>Search by title</h2>
  <div class="search">
    <input
      type="text"
      class="searchTerm"
      placeholder="Search by the title of the movie"
      [(ngModel)]="movieName"
    />
    <button type="submit" class="searchButton" (click)="SearchByTitle()">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <!-- Search movie by imdb id -->
  <h2>Search by Movie imdb ID</h2>
  <div class="search">
    <input
      type="text"
      class="searchTerm"
      placeholder="Search by the title of the movie"
      [(ngModel)]="movieId"
    />
    <button type="submit" class="searchButton" (click)="SearchById()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<!-- Component to display movie information -->
<app-movie-placeholder [movie]="movie"></app-movie-placeholder>
