@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.title {
  letter-spacing: 3rem;
  text-align: center;
  font-size: 3em;
  margin: 13px;
  font-family: moon-bold;
}

.box {
  margin: auto;
  background: #c9af98;
  padding: 1px;
  width: 95%;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  transition: 1s all;
}

.box-wrap {
  margin-top: 49px;
}

.box-wrap:hover .box {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
  cursor: none;
}
.box-wrap:hover .box:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
  background-color: #3a4660;
}

.body {
  margin-top: 4em;
}
